h1{
    border-bottom: 1px solid;
}

a{
    text-decoration: none;
}

#paragraf{
    margin-top: 2px;
}

#navbar{
    margin-top: 10px;
}

img{
    width: 200px;
    height: 200px !important; 
}

.container{
    margin-top: 10px;
}

.header{
    display: flex;
    margin-top: 15px;
}

.link{
    color: rgb(47, 141, 178);
}

.club-website:hover{
    text-decoration: underline;
}