#navbar{
    margin-top: 10px;
}

h1{
    border-bottom: 1px solid;
}

.container{
    margin-top: 10px;
}

.img-thumbnail{
    border-radius: 0%;
    width: 260px;
    height: 200px;
    margin-right: 15px;
}

.float-end{
    margin-left: 15px;
}