body{
    background-color: rgb(212, 216, 216, 1) !important;
}

p{
    position: absolute;
    font-size: 14px;
}

.nav{
    padding: 5px;
    box-shadow: 0 0 16px rgb(150, 148, 148);
}

.nav-item{
    position: relative;
    right: 100px;
}

.nav-link{
    font-size: 15px !important;
    color: black !important;
}

.img-fluid{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.main{
    display: flex;
    position: relative;
    top: 50px;
    padding: 20px 0 20px 20px;
    box-shadow: 0 0 16px rgb(150, 148, 148);
}

.nameAndButton{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    left: 30px;
}

.button{
    position: relative;
    top: 25px;
}

.nama{
    font-weight: bold;
    color: rgb(71, 70, 70);
}

.btn-success{
    width: 90px;
}

.head-data{
    font-weight: bold;
    font-size: 14px;
}

.data{
    position: relative;
    top: 25px;
    left: 150px;
    height: 120px;
    padding-left: 10px;
    border-left: 3px solid rgb(222, 220, 220);
}

.row{
    width: 370px;
}

.form{
    position: relative;
    top: 110px;
    box-shadow: 0 0 16px rgb(150, 148, 148);
    padding: 10px;
}

.btn-submit{
    position: relative;
    text-align: center;
    margin-top: 25px;
}

.submit{
    width: 100%;
}

#btnEdit{
    margin-right: 10px;
}